body { width: 100%; font-family: Arial; transition: all 500ms ease-in-out; } 
#bg-pic { height: 90vh; width: 100%; z-index: 1; position: fixed; 
    background-size: cover; background-repeat: no-repeat; top: 6%; }
#stickybar { display: flex; flex-direction: column; 
    position: sticky; top: 0; z-index: 3; padding-top: .1em; }
#stickybar, #freeRules { background-color: var(--wheat); }
#links { height: 2em; list-style-type: none; display: flex; }
#home, #aList { text-decoration: none; margin: .2em 0 .3em 2em; padding: 0 15px;    
    font-size: .85em; color: var(--color2); letter-spacing: .08em; 
    text-shadow: .03em .05em .06em var(--dkcolor2); font-weight: bold;    
    display: flex; justify-content: center; align-items: center; 
    border: .1em solid var(--dkcolor2); border-radius: .4em; }
#links a:hover { color: var(--wheat); background-color: var(--dkcolor2); }
#title { padding: .1em .4em .12em; font-size: 2em; font-weight: bold; 
    text-align: center; color: var(--color1); letter-spacing: .07em; 
    text-shadow: .05em .1em .05em var(--dkcolor1); 
    border-top: .2em ridge var(--color1); border-bottom: .2em ridge var(--color1); } 

#freeRules { height: 5.5em; color: var(--dkcolor2); 
    font-size: .64em; font-family:'Times'; font-weight: bold; position: relative; z-index: 2; text-align: center; 
    padding: .45em .7em; border: .4em ridge var(--color2); }
#freeRules span { font-size: 1.25em; text-align: center; 
    font-family: Arial; color: var(--color2); 
    text-shadow: .06em .05em .06em var(--dkcolor2); }

#materials { position: relative; z-index: 2; } 
#materials h1 { margin-top: 2vh; padding: 2vh 0 2vh 25px;
    color: var(--color1); font-size: 1.5em; letter-spacing: .09em;
    text-shadow: .03em .05em .05em var(--wheat); }
#materials li { padding: 1.5vh 25px; list-style-type: none; }
#materials a { text-decoration-line: none; font-size: 1.3em; font-weight: bold; letter-spacing: .05em; color: var(--color2); 
    text-shadow: .03em .05em .05em var(--wheat); }
#materials a:hover { color: var(--color1); }
#materials a:nth-last-child(1) { padding-bottom: 3em; }

h2 { position: fixed; bottom: 0; width: 100%;
    z-index: 3; padding: .2em 0 .3em 0; font-size: .9em; font-family:'Times'; font-weight: bold; text-align: center; letter-spacing: .2em; color: var(--color1); 
    text-shadow: .03em .05em .05em var(--dkcolor1);
    border-top: .15em solid var(--color1); 
    background-color: var(--wheat); } 

@media only screen and (min-width: 360px) {
    #links { height: 2.5em; }
    #home, #aList { font-size: 1.1em; }
    #freeRules { height: 5.5em; font-size: .73em; } 
    #materials h1 { font-size: 1.7em; letter-spacing: .12em; }
    #materials a { font-size: 1.5em; } 
    h2 { font-size: 1.1em; } }
@media only screen and (min-width: 414px) {
    #freeRules { height: 5.7em; font-size: .83em; } 
    #materials h1 { font-size: 1.9em; }
    #materials li { padding-left: 3em; }
    #materials a { font-size: 1.7em; } 
    h2 { font-size: 1.2em; } }
@media only screen and (min-width: 480px) {
    #links { height: 2.6em; }
    #home, #aList { font-size: 1.2em; }
    #freeRules { font-size: .95em; }
    #materials h1 { font-size: 2em; padding-left: 33px; }
    #materials li { padding-left: 33px; } 
    #materials a { font-size: 1.8em; } 
    h2 { font-size: 1.4em; } }
@media only screen and (min-width: 800px) {
    #freeRules { height: 4.5em; font-size: .83em; } 
    #materials h1 { font-size: 1.6em; letter-spacing: .07em; 
        padding-left: 40px; }
    #materials a { font-size: 1.4em; letter-spacing: .07em; 
        padding-left: 25px; }
    h2 { height: 1.em; font-size: 1.2em; padding: .1em 0 .2em; } }
@media only screen and (min-width: 854px) {
    #freeRules { height: 4.4em; font-size: .87em; } }
@media only screen and (min-width: 960px) {
    #freeRules { font-size: .98em; } }
@media only screen and (min-width: 1024px) { 
    #links { height: 3em; }  
    #home, #aList { font-size: 1.2em; letter-spacing: .2em; }
    #title { font-size: 2.5em; letter-spacing: .09em; 
        padding: .07em .4em .14em; top: 1.2em; } 
    #freeRules { font-size: 1.06em; } 
    #materials h1 { font-size: 2.2em; letter-spacing: .08em; 
        padding-left: 44px; }
    #materials a { font-size: 1.8em; letter-spacing: .07em; 
        padding-left: 44px; }
    h2 { font-size: 1.6em; } }
@media only screen and (min-width: 1366px) {
    #links { height: 3.5em; }  
    #home, #aList { font-size: 1.4em; padding: 0 25px; }
    #title { padding: .1em .4em .17em; }
    #freeRules { font-size: 1.4em; } 
    #materials h1 { font-size: 2.4em; }
    #materials a { font-size: 2em; }
    h2 { font-size: 1.8em; } }
@media only screen and (min-width: 1920px) {
    #links { height: 4em; }
    #home, #aList { font-size: 1.8em; }    
    #title { font-size: 3.3em; letter-spacing: .1em; 
        padding: .2em 0 .34em; top: 1.3em; }
    #freeRules { height: 3.4em; font-size: 1.42em; } 
    #materials h1 { font-size: 3em; padding-left: 60px; }
    #materials a { font-size: 2.3em; padding-left: 60px; }
    h2 { font-size: 2.1em; } }
