:root
    {   /* this artist's colors:  */
        --color1: var(--bali);
        --color2: var(--pancho); 
        --dkcolor1: var(--dkblue);
        --dkcolor2: var(--tundra); }
        
main { background-position: 66% 0; 
    background-image: url(/images/davinciL/bgpicSM.jpg); } 
#materials { margin-top: 40%; } 
#materials h1 { margin-top: 2%; }

/* allArtists.css breaks: 260, 320, 414, 480, 800, 1024, 1600, 1920. */
@media only screen and (min-width: 414px) {
    #materials { margin-top: 35%; } }
@media only screen and (min-width: 800px) {
    #materials h1 { margin-top: 0; } 
    #materials { margin-top: 5%; } }
@media only screen and (min-width: 1024px) {
    main { background-position: top left; } }