*{ border: 0; margin: 0; padding: 0; box-sizing: border-box; }
:root
    { 
    --orange: #e35b17; 
        --lgtorange: #ffb668; 
        --orangetan: #ef9c64; 
        --dkorangetan: #d47a3e; 
        --dkorange: #cc510f;
        --vydkorange: #aa3d03;  
    --red: #bf2525; 
        --dkred: #8b0808; 
        --redbrown: #db0a6869; 
    --pink: rgb(253, 136, 234);
        --whitepink: rgb(251, 210, 244);
        --peachpink: rgb(251, 169, 169);
        --softpink: rgb(225, 163, 187);
        --rosepink: rgb(195, 126, 177);
        --brightpink: rgb(251, 94, 209); 
        --dkpink: rgb(181, 6, 134); 
    --paleyellow: rgb(250, 244, 160);    
        --paleyellow6: rgba(250, 244, 160, .6);
        --brightyellow: rgb(255, 242, 0);
        --gold: rgb(255, 209, 2);
        --dkgold: rgb(200, 148, 3);
        --dkmustard: rgb(136, 111, 1);
    --green: rgb(25, 112, 3);
        --dkgreen: rgb(16, 74, 2);
        --vydkgreen: rgb(10, 49, 0);
        --greensmoke: #a7ab79;
        --limegreen: rgb(186, 241, 90); 
        --mintgreen: rgb(203, 240, 175); 
        --mintgreen6: rgba(203, 240, 175, .6);  
        --springrain: #a7c1af; 
        --celadon: #819c8b; 
    --brightblue: #0929dd;
        --ltblue: #a1affb;
        --bali: #8294ab;
        --dkblue: #3d4780; 
        --skyblue: #6be6f6;
        --teal: #07aec4; 
        --dkteal: #036a78;
        --xdkteal: #023f47;
    --purple: #7709dd;  
        --ltpurple: #9f5cde; 
        --dkpurple: #3a046c;          
    --grey: rgb(60, 60, 58);
        --dkgrey: rgb(28, 28, 27);
        --ltgrey: rgb(168, 168, 166);
        --mgrey: rgb(131, 131, 129);
    --wheat: rgb(243, 240, 199);
        --transparentwheat9: rgba(243, 240, 199, 0.9);
        --transparentwheat7: rgba(243, 240, 199, 0.7);
        --transparentwheat6: rgba(243, 240, 199, 0.6);    
        --transparentwheat3: rgba(243, 240, 199, 0.3);
    --ltbrown: rgb(129, 115, 80);
        --tan: rgb(229, 180, 135);    
        --mbrown: rgb(94, 83, 56);
        --dkbrown: rgb(62, 52, 27);
        --pancho: #ecd0ab;
        --tundra: #312f2d;
}